* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  background-color: #fff;
  outline: none;
  cursor: pointer;
}

.btn-modal {
  width: 250px;
  height: 50px;
  background-color: #0097e6;
  color: #fff;
  font-size: 14px;
}

#request-modal {
  position: fixed;
  /* visibility: hidden; */

  left: 0;
  top: 0;
  right: 0;
  bottom: 0;

  z-index: 999999;
  opacity: 1;
  transition: all 0.5s;
  background-color: rgba(0, 0, 0, 0.6);
}

/* #request-modal.active {
  visibility: visible;
  opacity: 1;
} */

#request-modal .modal-layer {
  position: absolute;

  width: 100%;
  height: 100%;
}

#request-modal .modal-wrap {
  position: absolute;
  width: 600px;
  height: 80vh;

  text-align: left;

  background-color: #fafbfc;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
}

#request-modal .modal-wrap .modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 68px;
  padding: 20px 60px;

  border-bottom: 1px solid #ddd;
}

#request-modal .modal-wrap .modal-header h2 {
  font-size: 20px;
  letter-spacing: 0.02em;
}

#request-modal .modal-wrap .modal-header .btn-close {
  cursor: pointer;

  font-size: 30px;
  background-color: transparent;

  padding: 10px 10px;
}

#request-modal .modal-wrap .modal-body {
  padding: 20px;
  font-size: 16px;
  height: calc(80vh - (68px + 130px));
  margin-bottom: 30px;
  /* background-color: pink; */
  padding: 40px 30px 40px;

  color: #2c2c2c;
  font-size: 15px;
  line-height: 26px;
  overflow: scroll;
}

#request-modal .request-modal-btn {
  display: block;
  width: 480px;
  background-color: #e8dab3;
  height: 50px;
  margin: 0 auto;

  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.02em;

  border-radius: 5px;
}

#request-modal .request-modal-btn:hover {
  background-color: #dfca92;
}

#request-modal .modal-question h3 {
  font-size: 15px;
  padding-bottom: 10px;
}

#request-modal .modal-text {
  border-bottom: 1px solid #ddd;
  padding: 20px 30px 30px;

  background-color: #f9f9f9;
}
#request-modal .modal-text.modal-question {
  padding-top: 0px;
}

#request-modal .modal-text h3 {
  display: flex;
  align-items: center;
  /* flex-wrap: wrap; */
  justify-content: flex-start;

  /* padding: 0 5px; */
}
#request-modal .modal-text h3 .modal-req-title {
  width: calc(100% - 160px);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
#request-modal .modal-text h3 .modal-state {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 80px;
  height: 24px;
  line-height: 24px;
  border: 1px solid #e8dab3;
  font-size: 14px;
  font-weight: 700;

  margin-right: 8px;
}

#request-modal .modal-wrap .modal-body .modal-content-answer {
  position: relative;
  padding-left: 46px;
}

#request-modal .modal-wrap .modal-body .modal-answer {
  background-color: #f3f3f3;
}
#request-modal .modal-wrap .modal-body .modal-content-answer::before {
  content: "A";
  position: absolute;
  top: 0;
  left: 0;
  width: 26px;
  height: 26px;
  border-radius: 26px;
  line-height: 26px;
  color: #fff;
  text-align: center;
  font-weight: 500;
  background-color: #e8dab3;
}
